body{
    margin-left: 0%;
    margin-right: 0%;
    font-family: 'Roboto', sans-serif;
}
.navigation{
    height: 50px;
}
.pages{
    float: right;
    margin-right: 8%;
    font-size: 20px;
}
.list-items{
    list-style-type: none;
    float: left;
    padding: 5px;
    padding-right: 35px;
}
.half-width{
    float: left;
    width: 30%;
    padding-left: 2%;
    margin-left: 6%;
}
#highlight{
    color: tomato;
}
.owner-img{
    width: 500px;
    height: 700px;
}
h1{
    font-weight: bold;
    font-family: 'Big Shoulders Stencil Text', cursive;
    font-size: 80px;
}
p{
    font-size: 18px;
}
.img-size{
    height: 510px;
    width: 500px;
}
.intro-text{
    padding-left: 3%;
}
.project{
    height: 550px;
    width: 100%;
    text-align: center;
    background-color: #efefef;
    padding-top: 10%;
}
.welcome{
    height: 550px;
    width: 100%;
}
.about-me{
    height: 550px;
    width: 100%;
}
.project-box{
    margin-left: 13.5%;
}
.box{
    background-color: whitesmoke;
    box-shadow: 5px 5px 20px gray;
    border-radius: 15px;
    width: 27%;
    height: 350px;
    float: left;
    margin-right: 20px;
}
h2{
    font-size: 35px;
}
.box-image{
    height: 65%;
    width: 95%;
    padding-bottom: 0%;
    margin-bottom: 0%;
}
h3{
    font-size: 22px;
}