body{
    margin-left: 0%;
    margin-right: 0%;
}
p{
    font-family: 'Roboto', sans-serif;
}
.navigation{
    font-family: 'Roboto', sans-serif;
    height: 50px;
}
.pages{
    float: right;
    margin-right: 8%;
    font-size: 20px;
}
h2, h3{
    font-family: 'Bebas Neue', cursive;
}
.button{
    background-image: linear-gradient(lightsalmon,tomato);
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-decoration: none;
    margin-top: 30px;
    padding: 10px 40px;
}
.list-items{
    list-style-type: none;
    float: left;
    padding: 5px;
    padding-right: 35px;
}
.list-items a{
    color: black;
    text-decoration: none;
}
.half-width{
    float: left;
    width: 42%;
    padding-left: 2%;
    margin-left: 5%;
}
#highlight{
    color: #FF8367;
}
#highlight2{
    color: #F46060;
}
.owner-img{
    width: 500px;
    height: 700px;
}
h1{
    font-weight: bold;
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
    margin-bottom: 2px;
}
p{
    font-size: 18px;
}
.img-size{
    height: 510px;
    width: 500px;
}
.intro-text{
    text-align: justify;
    padding-left: 3%;   
    padding-right: 1%;
    margin-top: 20px;
    height: 450px;
}
.about-me p{
    padding-right: 6%;
}
.project{
    height: 700px;
    width: 100%;
    text-align: center;
    background-color: #efefef;
    padding-top: 6%;
}
.welcome{
    height: 550px;
    width: 100%;
}
.about-me{
    height: 550px;
    width: 100%;
    
}
.project-box{
    margin-left: 13.5%;
}
.box{
    background-color: white;
    box-shadow: 5px 5px 15px rgb(197, 197, 197);
    border-radius: 15px;
    width: 27%;
    height: 400px;
    float: left;
    margin-top: 5%;
    margin-right: 35px;
}
h2{
    font-size: 45px;
}
.box-image{
    height: 200px;
    width: 95%;
    padding-bottom: 0%;
    margin-bottom: 0%;
    padding-top: 10px;
}
h3{
    padding-top: 5px;
    font-size: 22px;
}
.box p{
    font-size: 15;
    text-align: justify;
    padding: 18px;
    color: rgb(172, 172, 172);
}
.quiry{
    background-image: url("images/inquiry.png");
    background-size: 906px 225px;
    background-repeat: no-repeat;
    margin-left: 20%;
    margin-top: 8%;
    width: 906px;
    height: 225px;
}
.quiry-text{
    float: left;
    font-size: 54px;
    color: white;
    margin-left: 20px;
    padding: 4%;
    margin-top: 5%;
}
.chat{
    font-size: 18px;
    float: left;
    margin-left: 350px;
    margin-top: 85px;
    height: 20px;
    width: 100px;
    padding: 18px 32px;
}
footer{
    height: 300px;
    width: 100%;
    padding-top: 5%;
    text-align: center;
}
footer h1{
    color: #363958;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
}
footer h3{
    color: #696871;
}
.social-media{
    height: 50px;
    margin-top: 20px;
    margin-left: 42.5%;
}
.media-icon{
    float: left;
    margin-left: 3%;
    height: 40px;
    width: 40px;
}
.div-size{
    height: 200px;
    width: 100%;
    margin: 30px 0px;
}
.exm-title{
    float: left;
    height: 180px;
    width: 180px;
    border-radius: 50%;
    margin-left: 200px;
    box-shadow: 2px 1px 30px rgb(139, 139, 139);
}
.exm-description{
    float: left;
    height: 180px;
    width: 800px;
    text-align: justify;
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
    margin-left: 100px;
    padding-left: 60px;
    padding-right: 100px;
    padding-bottom: 0%;
}
.exm-description h2{
    margin-top: 0%;
}
.title{
    margin-left: 40%;
    font-family: 'Big Shoulders Stencil Text';
    color: royalblue;
    background-color: sandybrown;
    padding: 10px 40px;
    border-radius: 50px;
}
.exm-title h1{
    margin-left: 40px;
    margin-top: 40px;
}
.ssc{
    color: blueviolet;
}
.hsc{
    color: brown;
}